{% extends 'base.html.twig' %}

{% block body %}
    <main role="main" class="container">
        <div>
            <h1>Welcome to Atlas</h1>
            <p>In order to create messages, or to get in touch with ourt API, please <a href="{{ path('fos_user_registration_register') }}">sign-up</a>.<br> Or <a href="{{ path('fos_user_security_login') }}">sign-in</a> if you already registered.</p>
        </div>
    </main>
{% endblock %}
