{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            {{ form_start(form) }}
            {{ form_row(form.content) }}
            <button type="submit" class="btn btn-sm btn-primary">Submit!</button>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="row">
        <div class="col">

            <ul>
                {% for message in messages %}
                    <li>
                        {{ message.user.username }} - {{ message.content }} - {{ message.createdAt | date }}
                        {% if is_granted('delete', message) %}
                        <form action="{{ path('message_delete', { id: message.id }) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
</div>

{% endblock%}
